* {   
    font-family: 'Patrick Hand SC', cursive;
    font-size: 30px;
}
.grad {
    background-image: linear-gradient(to right, rgb(26, 15, 15) , rgb(216, 216, 29));
}
h1 {
    font-size: 30px;  
}
.parrafo {    
    font-family: 'Patrick Hand SC', cursive;
    background-image: linear-gradient(to right, yellow , rgb(197, 194, 240));
}
.body{
    font-family: 'Patrick Hand SC', cursive;
}
.clearfix{
    display:contents;    
}
.p-3 border bg-light{
    font-size: 30px;
}
.social-icons{
    align-items: center;
}